{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
<h2>Add words</h2>
{% endblock %}

{% block content %}
<h2>Ajouter une citations</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{ post_url }}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}
